server:
  port: 9002

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: 172.16.211.2:8848  # 配置nacos地址

management:
  endpoints:
    web:
      exposure:
        include: "*"